<footer class="container-fluid fixed-bottom">
  <div class="row border-bottom border-4 border-black bg-light">
    <div class="col mx-2 fs-3 fw-bold">
        Status: <span id="status"><%= data.status %></span>
    </div>
    <div class="col-auto mx-2 button_alert ">
        <button id="toggleButton" class="fs-4 " onclick="sendFavoriotCommand(1)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Swiss Gate
        </button>
    </div>
  </div>

    <div class="row text-center fs-3 bg-light">
      <a href="/iot/dashboard/<%= data.id%>" class="col p-2 border-end border-4 border-black">
        <i class="fa-solid fa-table"></i>
      </a>
      <a href="/iot/datalog/<%= data.id%>" class="col p-2 border-end border-4 border-black">
        <i class="fa-solid fa-clock-rotate-left"></i>
      </a>
      <a href="/iot/notification" class="col p-2 border-end border-4 border-black">
        <i class="fa-regular fa-bell"></i>
      </a>
      <a href="/iot/analysis" class="col p-2 border-end border-4 border-black">
        <i class="fa-solid fa-server"></i>
      </a>
      <a href="/iot/about" class="col p-2">
        <i class="fa-regular fa-user"></i>
      </a>
    </div>
</footer>


