<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Group member:</p>
    <p>Hee Yee Cinn</p>
    <p>Wee Mao Phin</p>
    <p>Lee Zhao Tian</p>
    <p>Mazran bin Esro (SV)</p>
    <a href="/input">Input Data to Mongodb</a>
    <a href="/dashboard">Dashboard</a>
  </body>
</html>
