<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing data sending</title>
</head>
<body>
    <h1>Favoriot Data</h1>
    <div id="data">
        <div class="result">
            <p id="timestamp">Timestamp: <%= response.timestamp %></p>
            <p id="sensorData">Data: <%= JSON.stringify(response.data) %></p>
        </div>
    </div>
    <script>
        const updateData = async ()=>{
            try{
                const response = await fetch('/crud/getDataFavoriot');
                const parsedResponse = await response.json();
                const { timestamp, data } = parsedResponse[0]; // Assuming the API returns an array with a single object
                document.getElementById('timestamp').innerText = timestamp;
                document.getElementById('sensorData').innerText = JSON.stringify(data);
            }catch(err){
                console.error(err);
            }
        }

        // Call updateData initially and then every 5 seconds
        updateData();
        setInterval(updateData, 5000);
    </script>
</body>
</html>