<% layout('layouts/boilerplate') %>

  <div class="h3 fw-bold px-4">Dashboard</div>
  <div class="h3 fw-bold px-4">Location: <%= data.locationName %></div>

<div class="container-fluid my-4">
  <div class="row justify-content-center column-gap-4">
    <div class="col-3 col-lg-2 border bg-light border-black border-4">
      <div class="fs-4 px-2 py-2"><i class="fa-solid fa-temperature-full"></i>: Temperature</div>
      <p class="fs-1 fw-bold text-center"> 26°C</p>
    </div>
    <div class="col-3 col-lg-2 border bg-light border-black border-4">
      <div class="fs-4 px-2 py-2">
        <i class="fa-solid fa-droplet"></i>: Humidity</div>
      <p class="fs-1 fw-bold text-center"> 60%</p>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row justify-content-center column-gap-4 row-gap-4">
    <div class="col-3 col-lg-2 border bg-light border-black border-4">
      <div class="fs-4 px-2 py-2"><i class="fa-solid fa-temperature-full"></i>: Water Level</div>
      <p class="fs-1 fw-bold text-center">5cm</p>
    </div>
    <div class="col-3 col-lg-2 border border-black border-4 bg-light">
      <div class="fs-4 px-2 py-2"><i class="fa-solid fa-droplet"></i>: Rain Level</div>
      <p class="fs-1 fw-bold text-center">5mm</p>
    </div>
  </div>
</div>
  



        
