<% layout('layouts/boilerplate') %>
<div class="fs-3 fw-bold px-4">Notification</div>
  
<div class="container py-2">
  <div class="row border border-2 border-black mx-2">
    <div class="col fs-3 fw-bold">Danger in Ayer Keroh</div>
    <div class="w-100"></div>
    <div class="col">Temperature: 26°C</div>
    <div class="w-100"></div>
    <div class="col">Water level: 5cm</div>
    <div class="w-100"></div>
    <div class="col">Humidity: 60%</div>
    <div class="w-100"></div>
    <div class="col">Rain Level: 5mm</div>
    <div class="w-100"></div>
    <div class="col text-end py-2 fs-5">17/4/2024, 2.13pm</div>
  </div>
</div>





