<% layout('layouts/boilerplate') %>
<div class="fs-3 fw-bold px-4">Notification</div>
  
<div class="container py-2">
  <div class="row border border-2 border-black">
    <div class="col fs-3 fw-bold">Danger in Ayer Keroh</div>
    <div class="w-100"></div>
    <div class="col fs-5">Temperature: 26°C, Water level: 5cm, Humidity: 60%, Rain Level: 5mm</div>
    <div class="w-100"></div>
    <div class="col text-end py-2 fs-5">17/4/2024, 2.13pm</div>
  </div>
</div>



